@font-face{
    font-family: "Sofia Regular";
    src:url('fonts/Sofia-Regular.otf') type('Opentype');
}

@font-face{
    font-family: "coertschrift_dik";
    src:url('fonts/coertschrift_dik.ttf') type('Truetype');
}

@font-face{
    font-family: "Uglyyy";
    src:url('fonts/uglyyy.ttf') type('Truetype');
}

.navbar-brand{
    font-family: "coertschrift_dik", "Uglyyy";
}

#colorChoice{
    width: 8em;
    margin: auto;
}

#cartQuantity{
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    left: 50px;
}

.cart{
    background-color:rgba(255, 255, 255, 0.5);
    position: absolute;
    min-height: 10rem;
    top: 70px;
    right: 80px;
    transition: all 0.3s ease-in-out;
    width: 0;
    height: 0;
    img{
        width: 90px;
        height: 70px;
    }
}

.show-cart{
    width: 18rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
}

.cart-info{
    position: absolute;
    right: 0px;
    top: 5px;
    cursor: pointer;
}

body{
    background-color: #ffebeb;
    .card{
        background-color: #ffffff;
        margin-top: 30px;
        font-family: "Sofia Regular";
        flex-wrap: wrap;
        img{
            width: 32vh;
            height: 22vh;
            margin: auto;
        }
    }
}

.teddy-btn,
#addTeddy{
    position: relative;
    bottom: 3%;
    border: 2px solid black;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    a{
       text-decoration: none;
       color: black;
       
    }
}



.carouselNo1{
    margin: auto;
}

.colorSelect{
    margin: auto;
    margin-bottom: 25px;
}

.product{
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    .teddyImage{
        width: 45%;
        height: 40%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;   
    }
    .teddyName{
        margin: auto;
    }
    .teddyDescription{
        margin: auto;
    }
    .teddyPrice{
        margin: auto;
    }
    .selectTeddy{
        width: 160px;
        margin: auto;
    }
}

/* ------------------------- Cart View ------------------------- */

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 80%;
    tr{
        border-bottom: 1px solid black;
    }
    .sum{
        //position
    }
    button{
    background: red;
    border-radius: 15%;
    }
}




.cartImage{
    width: 250px;
    height: 175px;
}

/* ------------------------- Form ------------------------- */

form{
    margin: 0.5em auto;
    width: 75vh;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    label{
        display: inline-block;
        width: 90px;
        margin-right: 0.5em;
        text-align: right;
    }
    input{
        font: 1em sans-serif;
        width: 300px;
        box-sizing: border-box;
        border: 1px solid #999;
        width: 55vh;
    }
    button{
        margin-left: 6em;
    }
}

/* ------------------------- Thanks ------------------------- */

.blop{
    p{
        text-align: center;
        color: red;
    }
}

/* ------------------------- Responsive ------------------------- */

@media all and (max-width: 1024px) {
    .card-deck{
        display: flex;
        flex-direction: column;
    }
    .product{
        margin: 30px 17px 0px 17px;
        h1{
            font-size: 22px;
        }
        .teddyImage{
            width: 40vh;
            height: 30vh;
        }
        }
}


/* ------------------------- Responsive ------------------------- */

.colorChoice{
    margin-top: 25px;
}